p {
    display: block;
    background: aqua;
    text-align: center;
    border-radius: 6px;
    color:dimgray;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    padding: 24px 15px;
    text-align: center;
}

section {
    display: inline-block;
    width: 30%;
}

header,
section,
footer {
    margin: 0px 1.5% 24px 1.5%;
}

footer {
    margin-bottom: 0;
}

.heading {
    text-shadow: 3px 6px 2px  rgba(0, 0, 0, .3)
}

section p, header, footer  {
    box-shadow: 5px 8px 2px rgba(0,0,0,.3);
}

.upper {
    text-transform: uppercase;
    word-spacing: .9em;
}

.capitalize {
    text-transform: capitalize;
    letter-spacing: .1em;
}

.lowercase {
    text-transform: lowercase;
}

.spacing {
    letter-spacing: -.1em;
}

