p {
    display: block;
    background: aqua;
    text-align: center;
    border-radius: 6px;
    color:dimgray;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    padding: 24px 15px;
    text-align: center;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    background: #eaeaed;
    border-radius: 6px;
    clear: both;
    *zoom: 1;
}

section {
    float: left;
    width: 30%;
}

.group,
header,
section,
footer {
    margin: 0px 1.5% 24px 1.5%;
}

footer {
    clear: both;
    margin-bottom: 0;
}
